{% extends 'main.html' %}

{% load static %}

{%  block content %}

  <div class="main--page">
            <div class="home-page">
                <div class="slideshow-container">

                    <div class="mySlides fade">
                        <img class="myslides--img" src="../static/images/image6.jpg" >
                        
                    </div>

                    <div class="mySlides fade">
                        <img class="myslides--img" src="../static/images/image1.png">
                        
                    </div>

                    <div class="mySlides fade">
                        <img class="myslides--img" src="../static/images/image2.png">
                        
                    </div>

                    <div class="mySlides fade">
                      <img class="myslides--img" src="../static/images/image7.png">
                      
                    </div>
                    

                </div>
                
                <div>
                    <span class="dot"></span> 
                    <span class="dot"></span> 
                    <span class="dot"></span>
                    <span class="dot"></span>

                </div>
                
            </div>
            <!-- <nav class="navbar-container">
                
                <div class="logo">
                    <a>IZAHAAR</a>
                </div>
                <div class="pages">
                    <button>HOME</button>
                    <button>ABOUT</button>
                    <button>SIGNS</button>
                    <button>LOGIN</button>
                </div>
            </nav>  -->
            <div class="info">
                <div alignment="justify">
                  <h1 class="intro">Revolutionizing communication with real-time sign language detection with Izhaar</h1>            
                </div>
                
                <a class="info-button" href="{% url 'signup' %}">Create Account</a>
            </div>
            
        </div>
        <div class="about--us" id ="about">
            
            <div class="imgAbout">
              <img src= "static\images\image3.png">
            </div>
            
            <div class="aboutDesc">
              <h1>About Us</h1>
              <div>At Izhaar, we're driven by a profound mission to break down communication barriers
                for the Deaf and Hard of Hearing community. We are passionate about creating a more inclusive world through technology. 
                We've developed cutting-edge sign language detection software facilitating real-time communication and promoting accessibility. 
                Our vision is clear: to empower the Deaf and Hard of Hearing community and ensure that sign language is understood and respected as a vital form of communication. 
               Join us on this inspiring journey towards a more connected world.</div>
              
              
            </div>
        </div>
       

    <section class="navbar-container">
     <nav>
        <a class="logo" href="">IZHAAR</a>
        <div class="nav-links">
            
            <ul>
                <li><a href="">HOME</a></li>
                <li><a href="#about">ABOUT</a></li>
                <li><a href="#sign">SIGNS</a></li>
                <li><a href="{% url 'login' %}">LOGIN</a></li>
            </ul>
        </div>
       
    </nav> 

    
    <!-- <div class="text-box">
        <h1>Communicate With Deaf And Hard Of Hearing People</h1>
        <p>Izahaar is all you need to communicate with deaf and hard of hearing people</p>
        <a href="{% url 'signup' %}" class="hero-btn">Create Account</a>

    </div> -->
    
  </section>
  
  <div class="page3" id="sign">
    <h1>American Sign Language</h1>
    <img src="static\images\image11.jpg" alt="">

  </div>

<!-- <section class="footer">
    <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-linkedin-in"></i>
        <i class="fa fa-google-plus-g"></i>
        <i class="fa fa-twitter"></i>
    </div>
</section> -->
{% endblock content %}