<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
    <title>Detection</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'styles/main.js' %}"></script>
</head>
<body>
    {% include 'navbar.html' %}
    {% for message in messages %}
    <div class = "alert alert-{{message.tags}} alert-dismissable fade show" role="alert">
        {{message}}
    <button type = "button" class="close" data-dissmiss="alert" aria-label="close">
    <span aria-hidden = "true">&times;</span>
    </button>            
    </div>
    {% endfor %}
    {% if user.is_authenticated %}
    <h3>Hello {{ fname }}</h3>
    <img src="{% url 'video_feed' %}" alt="">
    <form method="post" action="{% url 'predicted_text' %}">
        {% csrf_token %}
        <button class="btn" type="submit" name="save_history" value="true">Save</button>
    </form>
    <div class="text">
    <h4 id="detectedTextElement">Detected text will appear here</h4>
    </div>
    
 

    <script>
    function updateDetectedText() {
        // Make an AJAX request to your Django backend
        $.ajax({
            url: '{% url "predicted_text" %}',
            success: function(data) {
                // Update the HTML element with the detected text
                $('#detectedTextElement').text(data.text);
            },
        });
    }
    
    document.onkeydown= function(event) {
            console.log(event.key)
            //Send an AJAX request to the Django server
            if (event.key === 'w') {
                // Example: Append a space to the text variable on the server
                $.ajax({
                    type: "POST",
                    url: '{% url "append_period" %}',  // Adjust the URL based on your Django URL configuration
                    data: {csrfmiddlewaretoken: window.CSRF_TOKEN},
                    success: function(response) {
                        updateDetectedText();
                    }
                });
            } else if (event.key === 's') {
                // Example: Append a period to the text variable on the server
                $.ajax({
                    type: "POST",
                    url: '{% url "append_space" %}',  // Adjust the URL based on your Django URL configuration
                    data: {csrfmiddlewaretoken: window.CSRF_TOKEN},
                    success: function(response) {
                       updateDetectedText();
                    }
                });
           }
        };

        
        // Periodically update the detected text (e.g., every 1 second)
        setInterval(updateDetectedText, 1000);
        
    </script>
    <a href="{% url 'logout' %}">logout</a>
    {% else %}
    <a href="{% url 'signup' %}">Sign up</a>
    {% endif %}
</body>
</html>