<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>Izahaar</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
        <link rel="stylesheet" href="{% static 'uikit/css/uikit.min.css' %}" />
        <link rel="stylesheet" href="{% static 'styles/home.css' %}">
        <script src="{% static 'uikit/js/uikit.min.js' %}"></script>
        <script src="{% static 'js/uikit-icons.min.js' %}"></script>
    </head>
<body>

    {% include 'navbar.html' %}

    {% block content %}

    {% endblock content %}

    <script>
        function updateDetectedText() {
            // Make an AJAX request to your Django backend
            $.ajax({
                url: '{% url "predicted_text" %}',
                success: function(data) {
                    // Update the HTML element with the detected text
                    $('#detectedTextElement').text(data.text);
                },
            });
        }
        
        document.onkeydown= function(event) {
                console.log(event.key)
                //Send an AJAX request to the Django server
                if (event.key === 'w') {
                    // Example: Append a space to the text variable on the server
                    $.ajax({
                        type: "POST",
                        url: '{% url "append_period" %}',  // Adjust the URL based on your Django URL configuration
                        data: {csrfmiddlewaretoken: window.CSRF_TOKEN},
                        success: function(response) {
                            updateDetectedText();
                        }
                    });
                } else if (event.key === 's') {
                    // Example: Append a period to the text variable on the server
                    $.ajax({
                        type: "POST",
                        url: '{% url "append_space" %}',  // Adjust the URL based on your Django URL configuration
                        data: {csrfmiddlewaretoken: window.CSRF_TOKEN},
                        success: function(response) {
                           updateDetectedText();
                        }
                    });
               }
            };
    
            
            // Periodically update the detected text (e.g., every 1 second)
            setInterval(updateDetectedText, 1000);
            
        </script>
    

    
</body>

</html>