{% load static %}
<nav class="uk-navbar-container uk-navbar-transparent ">
    <div class="uk-container">
        <div uk-navbar>

            <div class="uk-navbar-left">

                <a class="uk-navbar-item uk-logo" href="#" aria-label="Back to Home">IZAHAAR</a>

            </div>
            <div class="uk-navbar-right">

                <ul class="uk-navbar-nav nave-links">
                    <li class="uk-active"><a href="#">HOME</a></li>
                    <li><a class=" uk-button uk-button-text" href="{% url 'home1' %}" >ABOUT US</a> </li>
                    <li><a class=" uk-button uk-button-text" href="{% url 'home1' %}" >SIGNS</a> </li>
                    <li><a class=" uk-button uk-button-text" href="{% url 'home1' %}" >LOGIN</a> </li>
                </ul>

            </div>

        </div>

        </div>
    </div>
</nav>