{% load static%}

<section class="navbar-container">
    <nav>
       <a class="logo" href="">IZHAAR</a>
       <div class="nav-links">
           
           <ul>
               <li><a href="">HOME</a></li>
               <li><a href="#about">ABOUT</a></li>
               <li><a href="#sign">SIGNS</a></li>
               <li><a href="{% url 'login' %}">LOGIN</a></li>
           </ul>
       </div>
      
   </nav> 

   
   <!-- <div class="text-box">
       <h1>Communicate With Deaf And Hard Of Hearing People</h1>
       <p>Izahaar is all you need to communicate with deaf and hard of hearing people</p>
       <a href="{% url 'signup' %}" class="hero-btn">Create Account</a>

   </div> -->
   
 </section>