*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
  
    
}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;

    /* background-image: url("static\images\image10.jpeg"); */
}


form{
    height: 70vh;
    width: 30vw;
    background-color:black;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    border: 2px solid rgba(8, 241, 203, 0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding:  2%;
    padding-top: 1%;
    opacity: 0.4;
    
}
form *{
    font-family: 'Poppins',sans-serif;
    color: rgb(58, 57, 57);
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    opacity: 0.4;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    box-shadow: #0ac49b;
    border: #0ac49b;
}
::placeholder{
    color: #0ac49b;
}
button{
    margin-top: 1%;
    width: 100%;
    background-color: linear-gradient(to right, #37ECBA, #75D473);
    color:#ffffff;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.social{
  margin-top: 30px;
  display: flex;
}
.social div{
  background: red;
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255,255,255,0.27);
  color: #eaf0fb;
  text-align: center;
}
.social div:hover{
  background-color: rgba(255,255,255,0.47);
}
.social .fb{
  margin-left: 25px;
}
.social i{
  margin-right: 4px;
}